{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donation</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-color: #fff;
        }

        .container {
            max-width: 500px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card card-body">
            <div class="row">
                <div class="col-4">
                    <a href="#" class="btn btn-outline-primary btn-amount btn-block pt-3 pb-3 mb-2">R$ 10,00</a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-outline-primary btn-amount btn-block pt-3 pb-3 mb-2">R$ 20,00</a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-outline-primary btn-amount btn-block pt-3 pb-3 mb-2">R$ 30,00</a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-outline-primary btn-amount btn-block pt-3 pb-3 mb-2">R$ 50,00</a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-outline-primary btn-amount btn-block pt-3 pb-3 mb-2">R$ 100,00</a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn btn-outline-primary btn-amount btn-block pt-3 pb-3 mb-2">R$ 200,00</a>
                </div>
                <div class="col-12">
                    <label><strong class="text-primary">Ou digite um valor</strong></label>
                    <input type="text" class="form-control" placeholder="Digite apenas números">
                </div>
                <div class="col-12">
                    <a href="#" class="btn btn-primary btn-block btn-lg mt-3">Próximo &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let amount_buttons = document.querySelectorAll('.btn-amount');
            amount_buttons.forEach((item) => {
               item.addEventListener('click', () => {
                   amount_buttons.forEach((el) => {
                       el.classList.remove('btn-primary');
                       el.classList.add('btn-outline-primary');
                   });

                   item.classList.add('btn-primary');
                   item.classList.remove('btn-outline-primary');
               });
            });
        });
    </script>
</body>
</html>
